# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Load the file with cities' weather data into a data frame
vacation_csv_path = "../output_data/cities.csv"
vacation_df = pd.read_csv(vacation_csv_path)
vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Uvat,59.14,68.90,49.42,83,0,4.76,RU,1595463959
1,Vrangel',42.73,133.08,66.96,84,71,13.02,RU,1595463959
2,Hilo,19.73,-155.09,84.20,58,1,10.29,US,1595463950
3,Mataura,-46.19,168.86,39.00,83,97,3.00,NZ,1595463789
4,Puerto Ayora,-0.74,-90.35,68.00,94,85,7.00,EC,1595463960
...,...,...,...,...,...,...,...,...,...
580,Linhares,-19.39,-40.07,65.84,81,0,3.00,BR,1595464021
581,Mbandaka,0.05,18.26,72.48,75,98,2.66,CD,1595464021
582,Hailey,43.52,-114.32,73.40,53,90,5.82,US,1595464022
583,San Andrés,12.58,-81.70,84.20,79,90,8.05,CO,1595464022
584,Verkhnetulomskiy,68.61,31.80,53.60,100,40,4.47,RU,1595464022

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)
# Store latitude and longitude in locations
locations = vacation_df[["Lat", "Lng"]]
# Fill NaN values and convert to float
humidity = vacation_df["Humidity"].astype(float)

In [5]:
# Assign a gmaps figure with a zoom level and proper centering of the world map
fig = gmaps.figure(center=(35.0,-5.0),zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,max_intensity=100)
                                
# Add heatmap layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the cities to fit weather conditions
# Drop any rows with null values (if applicable)
fit_vacation_df = vacation_df[(vacation_df["Max Temp"]> 70) & (vacation_df["Max Temp"]< 80) & (vacation_df["Wind Speed"]< 10) & (vacation_df["Cloudiness"] == 0)]
fit_vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
82,Viana,-20.39,-40.50,75.99,73,0,8.05,BR,1595463968
180,Vila Velha,-20.33,-40.29,75.99,73,0,8.05,BR,1595463978
187,Beyneu,45.32,55.20,73.53,66,0,7.70,KZ,1595463979
312,Tiznit Province,29.58,-9.50,78.73,42,0,1.97,MA,1595463993
346,Siniscola,40.57,9.69,73.40,40,0,3.36,IT,1595463996
347,Fuerte Olimpo,-21.04,-57.87,75.02,39,0,5.21,PY,1595463996
421,Shahrud,36.42,54.98,72.03,53,0,8.50,IR,1595464004
459,Fes,34.04,-5.00,73.40,56,0,6.93,MA,1595463740
463,Barcelos,41.54,-8.62,73.00,93,0,0.85,PT,1595464009
470,Lata,40.16,-8.33,71.01,95,0,1.66,PT,1595464010
493,Sajanan,37.06,9.24,78.80,44,0,5.82,TN,1595464012
521,Redondo,38.65,-7.55,79.00,50,0,7.65,PT,1595464016
567,Mozarlândia,-14.74,-50.57,74.62,34,0,4.21,BR,1595464020
570,Dārāb,28.75,54.54,73.17,48,0,1.90,IR,1595464020

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Store into variable named hotel_df
hotel_df = fit_vacation_df.copy()

# Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
82,Viana,-20.39,-40.50,75.99,73,0,8.05,BR,1595463968,
180,Vila Velha,-20.33,-40.29,75.99,73,0,8.05,BR,1595463978,
187,Beyneu,45.32,55.20,73.53,66,0,7.70,KZ,1595463979,
312,Tiznit Province,29.58,-9.50,78.73,42,0,1.97,MA,1595463993,
346,Siniscola,40.57,9.69,73.40,40,0,3.36,IT,1595463996,
347,Fuerte Olimpo,-21.04,-57.87,75.02,39,0,5.21,PY,1595463996,
421,Shahrud,36.42,54.98,72.03,53,0,8.50,IR,1595464004,
459,Fes,34.04,-5.00,73.40,56,0,6.93,MA,1595463740,
463,Barcelos,41.54,-8.62,73.00,93,0,0.85,PT,1595464009,
470,Lata,40.16,-8.33,71.01,95,0,1.66,PT,1595464010,
493,Sajanan,37.06,9.24,78.80,44,0,5.82,TN,1595464012,
521,Redondo,38.65,-7.55,79.00,50,0,7.65,PT,1595464016,
567,Mozarlândia,-14.74,-50.57,74.62,34,0,4.21,BR,1595464020,
570,Dārāb,28.75,54.54,73.17,48,0,1.90,IR,1595464020,

In [8]:
# Iterate through the rows of the data frame to build an API query and get a response for each city with its geo coordinates

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# geocoordinates
target_search = "Hotel"
target_radius = 5000
target_type = "lodging"

# Use the lat/lng we recovered to identify airports
for ind in hotel_df.index:
    target_coordinates = f"{hotel_df['Lat'][ind]},{hotel_df['Lng'][ind]}"
    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    # Confirm that the response status returned is OK
    if response.status_code == 200:
        # convert response to json
        hotel_data = response.json()
        
        # Save the Hotel names returned into the data frame column 
        try:
            hotel_df.loc[ind, "Hotel Name"] = hotel_data["results"][0]["name"]

        except (ValueError, KeyError, IndexError):
            print("Missing field/result... skipping.")

    
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
82,Viana,-20.39,-40.50,75.99,73,0,8.05,BR,1595463968,
180,Vila Velha,-20.33,-40.29,75.99,73,0,8.05,BR,1595463978,Golden Tulip Porto Vitória
187,Beyneu,45.32,55.20,73.53,66,0,7.70,KZ,1595463979,"HOTEL ""AKNUR"""
312,Tiznit Province,29.58,-9.50,78.73,42,0,1.97,MA,1595463993,
346,Siniscola,40.57,9.69,73.40,40,0,3.36,IT,1595463996,Hotel Residence Hibiscus
347,Fuerte Olimpo,-21.04,-57.87,75.02,39,0,5.21,PY,1595463996,Hotel AA
421,Shahrud,36.42,54.98,72.03,53,0,8.50,IR,1595464004,Paramida hotel
459,Fes,34.04,-5.00,73.40,56,0,6.93,MA,1595463740,Riad Alkantara
463,Barcelos,41.54,-8.62,73.00,93,0,0.85,PT,1595464009,Hotel Bagoeira
470,Lata,40.16,-8.33,71.01,95,0,1.66,PT,1595464010,Magnolias Cottage
493,Sajanan,37.06,9.24,78.80,44,0,5.82,TN,1595464012,
521,Redondo,38.65,-7.55,79.00,50,0,7.65,PT,1595464016,
567,Mozarlândia,-14.74,-50.57,74.62,34,0,4.21,BR,1595464020,Hotel Santa Mônica
570,Dārāb,28.75,54.54,73.17,48,0,1.90,IR,1595464020,Naghshe shapoor Hotel

In [9]:
# Drop any NaN values
hotel_df = hotel_df.dropna()

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))